<mat-grid-list cols="2" rowHeight="1:1">

	<mat-grid-tile>
		<a routerLink="/item-selection/ShipsTodayNextDay" routerLinkActive="active">
			<mat-card matRipple class="pick-card">
				<mat-card-title>
					Ships TODAY
				</mat-card-title>
				<mat-card-content text-align="center">
					<h2>Next Day</h2>
					<mat-grid-list cols="2" rowHeight="1:1">
						<mat-grid-tile>
							<button mat-fab color="warn">{{ ShipsTodayNextDay }}</button>
						</mat-grid-tile>
						<mat-grid-tile>
							<mat-icon>airplanemode_active</mat-icon>
						</mat-grid-tile>
					</mat-grid-list>
				</mat-card-content>
			</mat-card>
		</a>
	</mat-grid-tile>

	<mat-grid-tile>
		<a routerLink="/item-selection/ShipsTodayOther" routerLinkActive="active">
			<mat-card matRipple class="pick-card">
				<mat-card-title>
					Ships TODAY
				</mat-card-title>
				<mat-card-content text-align="center">
					<h2>2nd Day, Ground</h2>
					<mat-grid-list cols="2" rowHeight="1:1">
						<mat-grid-tile>
							<button mat-fab color="warn">{{ShipsTodayOther}}</button>
						</mat-grid-tile>
						<mat-grid-tile>
							<mat-icon>local_shipping</mat-icon>
						</mat-grid-tile>
					</mat-grid-list>
				</mat-card-content>
			</mat-card>
		</a>
	</mat-grid-tile>

	<mat-grid-tile style="">
		<a routerLink="/item-selection/ShipsLaterNextDay" routerLinkActive="active">
			<mat-card matRipple class="pick-card">
				<mat-card-title>
					Ships Later
				</mat-card-title>
				<mat-card-content text-align="center">
					<h2>Next Day</h2>
					<mat-grid-list cols="2" rowHeight="1:1">
						<mat-grid-tile>
							<button mat-fab color="primary">{{ShipsLaterNextDay}}</button>
						</mat-grid-tile>
						<mat-grid-tile>
							<mat-icon>airplanemode_active</mat-icon>
						</mat-grid-tile>
					</mat-grid-list>
				</mat-card-content>
			</mat-card>
		</a>
	</mat-grid-tile>

	<mat-grid-tile>
		<a routerLink="/item-selection/ShipsLaterOther" routerLinkActive="active">
			<mat-card matRipple class="pick-card">
				<mat-card-title>
					Ships Later
				</mat-card-title>
				<mat-card-content text-align="center">
					<h2>2nd Day, Ground</h2>
					<mat-grid-list cols="2" rowHeight="1:1">
						<mat-grid-tile>
							<button mat-fab color="primary">{{ShipsLaterOther}}</button>
						</mat-grid-tile>
						<mat-grid-tile>
							<mat-icon>local_shipping</mat-icon>
						</mat-grid-tile>
					</mat-grid-list>
				</mat-card-content>
			</mat-card>
		</a>
	</mat-grid-tile>
</mat-grid-list>