<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="40px" class="content">
	
  <div fxFlex="" fxFlexOffset="20px" fxFlexAlign="center">
		<div class="example-form">
			<mat-form-field class="example-full-width" >
				<mat-label>Store No (Almacenar numero)</mat-label>
				<input matInput placeholder="" value="" [(ngModel)]="storeNO">
      </mat-form-field>


  
		</div>
	</div>

<div fxFlexAlign="center">
	<button   style="width: 500px;" mat-raised-button color="primary" (click)="updateClick()">Mark Shipped</button>
</div>




</div>