<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">

<mat-sidenav-container fullscreen class="example-container">

	<mat-sidenav #drawer class="example-sidenav" mode="over">

		<mat-nav-list>
			<h3 matSubheader>Direct Fulfillment</h3>
			<a mat-list-item routerLink="/picking">
				<mat-icon matListIcon>view_list</mat-icon>
				<h3 matLine>Select Items To Pick</h3>
			</a>
      <a mat-list-item routerLink="/print-label" >
				<mat-icon matListIcon>receipt_long</mat-icon>
				<h3 matLine>Print and Pick</h3>
			</a>
			<a mat-list-item>
				<mat-icon matListIcon>qr_code_scanner</mat-icon>
				<h3 matLine>Confrim Picks</h3>
			</a>
      <a mat-list-item routerLink="/update-stein-pallet" >
				<mat-icon matListIcon>local_shipping</mat-icon>
				<h3 matLine>Update Stein Pallet Info</h3>
			</a>
      <a mat-list-item routerLink="/stein-confirm" >
				<mat-icon matListIcon>local_shipping</mat-icon>
				<h3 matLine>Marked Stein Shipped</h3>
			</a>
			<a mat-list-item (click)="drawer.toggle()">
				<mat-icon matListIcon>cancel</mat-icon>
				<h3 matLine>Cancel</h3>
			</a>

		</mat-nav-list>

	</mat-sidenav>

	<mat-sidenav-content>


		<mat-toolbar color="primary">
			<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
			<span>SE</span>
			<span class="example-spacer"></span>
			<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
			<button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
		</mat-toolbar>
	  <router-outlet></router-outlet>

	</mat-sidenav-content>

</mat-sidenav-container>





<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->